.projectsSection {
    padding: 80px 0;
    background-color: #f7f7f7;

    .title {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .card {
        display: flex;
        border: none;
        box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
        border-radius: 6px;
        flex-direction: column;
        margin: 40px 0;

        @media (min-width: 992px) {
            flex-direction: row;
        }

        .rightCard {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-basis: 40%;
            height: 400px;
            background: linear-gradient(145deg, #e2e8ec, #ffffff);
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            padding: 25px 30px;

            @media (max-width: 992px) {
                border-top-right-radius: 0px;
                border-bottom-left-radius: 6px;
            }

            .projectTitle {
                font-size: 30px;
                font-weight: 600;
            }

            .descriptionContainer {
                max-height: 140px;
                overflow-y: auto;
                padding-right: 10px;
                line-height: 22px;
            }

            .technologiesTitle {
                font-size: 18px;
                font-weight: 600;
            }

            .technologiesList {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                li {
                    color: white;
                    padding: 5px 10px;
                    border-radius: 25px;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 600;
                    background: -webkit-radial-gradient(left top, ellipse cover, #6A67CE 0%, #FC636B 100%);
                    background: radial-gradient(ellipse at left top, #6A67CE 0%, #FC636B 100%);
                }
            }

            .divider {
                border-bottom: 1px solid #dce1e4;
                padding-top: 12px;
            }

            .btnSection {
                display: flex;
                justify-content: right;
                padding-top: 12px;

                .button {
                    padding: 6px;
                    border-radius: 50%;
                    font-size: 35px;
                    color: #ffffff;
                    cursor: pointer;
                    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
                    background: linear-gradient(145deg, #e2e8ec, #ffffff);
                    color: black;

                    &:hover {
                        background: -webkit-radial-gradient(left top, ellipse cover, #6A67CE 0%, #FC636B 100%);
                        background: radial-gradient(ellipse at left top, #6A67CE 0%, #FC636B 100%);
                        color: white;
                    }
                }
            }
        }

        .leftCard {
            flex-basis: 60%;
            height: 400px;
            background-color: dodgerblue;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            @media (max-width: 992px) {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                border-bottom-left-radius: 0;
            }
        }
    }
}